<h1>Edit User</h1>

<form>

    <table class="table table-bordered" *ngIf="user">

        <tbody >

             <tr>

                <th>Id</th>

                <td>

                    <input type="text" name="id" id="id" value="{{user.id}}" readonly>

                </td>



             </tr>

             <tr>

                <th>Name</th>

                <td>

                    <input type="text" name="name" id="name" value="{{user.name}}" >
                </td>

            </tr>

            <tr>

               <th>Email</th>

               <td>

                   <input type="email" name="email" id="email" value="{{user.email}}" >

               </td>

            </tr>

            <tr>

               <th></th>

               <td>

                   <button type="button" class="btn btn-success"

                   (click)="updateUser()">Update</button>

               </td>

            </tr>

       </tbody>

   </table>

      

  

</form>