<p>edit-task works!</p>
<style>

    label{

        text-align: center;

        display: inline-block;

        width: 90px;

        margin-bottom: 30px;

        margin-left: -50px;

    }

    button{

        margin-left: 40px;

    }

    div{

        text-align: center;

    }



</style>

<div>

    <h2>Edit Task</h2>

    <label for="Task Name"><b>Task Name</b></label>
    <input type="text" placeholder="Install Java" name="taskname" id="edit Task Name" required>

        <br>

        <label for="status"><b>Status</b></label>

        <select name="status" id="ststus">

            <option value="Completed">Completed</option>

            <option value="Pending">Pending</option>

        </select>

        <br>

        <button>Submit</button>

        <button>Reset</button>
    </div>