<!---<p>list-users works!</p>
<h1>List users</h1>

<table border="1">
    <thead>
        <th>Sno</th>
        <th>Name</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Yashashwini</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Deekshitha</td>
        </tr>
    </tbody>
    </table>
</form>!-->
<h1>List Users</h1>
<table class="table table-bordered" *ngIf="users">
    <thead>
        <tr>
            <th>Sno</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users;let i=index">
            <td>{{i+1}}</td>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
        
             <td>
                <a routerLink="/viewuser" class="bth bth-primary">View</a> &nbsp;&nbsp;  
            <a routerLink="/edituser" class="bth bth-info">Edit</a> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger"
            (click)="deleteUser()">Delete</button>
        </td>
    </tr>
</tbody>


</table>
<div *ngIf="!users">
    no records
</div>