<!--<p>register works!</p>
Task:Registration Form(HTML)

name,email,password

<h1>Registration Form</h1>

<form>

    <div>

        <label for="name">Name</label>

        <input type="text" name="name" id="name">

    </div>

    <div>

        <label for="email">Email</label>

        <input type="text" name="email" id="email">

    </div>

    <div>

        <label for="password">Password</label>

        <input type="password" name="password" id="password">

    </div>

    <button>Submit</button>QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ

</form>!-->
<h1>Registration Form</h1>
<!--Interpolation {{propertyname}}-->
<h3>Interpolation</h3>
Name: {{name}}
<h3>Structural Directive - *ngIf</h3>
<!--Directives ( Structural Directives -If/for)-->
<div *ngIf="isValidUser">
    Valid User
</div>
<div *ngIf="!isValidUser">
    Invalid User
</div>
<h3>Structural Directive - *ngFor</h3>
<!-- for loop-->
<!-- <ul>
    <li>CSE</li>
    <li>IT</li>
    <li>MECH</li>
</ul> -->
<ul>
    <li *ngFor="let d of departments">{{d}}</li>
</ul>
<table border="1">
    <thead><tr><th>Sno</th><th>Name</th></tr></thead>
    <tbody>
        <tr *ngFor="let d of departments;let i=index">
            <td>{{i+1}}</td>
            <td>{{d}}</td>
        </tr>
    </tbody>
</table>
<select name="dept" id="dept">
  <!-- <option value='CSE'>CSE </option>  -->
<option *ngFor="let d of departments" value="{{d}}">{{d}}</option>
</select>
<!-- Event Binding ( click )-->
<button type="button" (click)="onClick()">Button</button>


