<div>

    <h2>List Tasks</h2>

    <table class="center">

        <tr>

            <th>Sno</th>

            <th>Task Name</th>

            <th>Status</th>

            <th>Action</th>

        </tr>

        <tr>

            <td>1</td>

            <td>Install Git</td>

            <td>PENDING</td>

            <td>Edit</td>

        </tr>

        <tr>

            <td>2</td>

            <td>Intsall Node JS</td>

            <td>PENDING</td>

            <td>Edit</td>

        </tr>
        <tr>

            <td>3</td>

            <td>Install VS Code</td>

            <td>PENDING</td>

            <td>Edit</td>

        </tr>

        <tr>

            <td>4</td>

            <td>Install VPN</td>

            <td>PENDING</td>

            <td>Edit</td>

        </tr>

    </table>

</div>